.topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    background-color: #850E35;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.topbar a {
    color: #FFF5E4;
    font-size: 30px;
    text-decoration: none;
    margin: 15px;
}

.topbar a:hover {
    color: #aca78f;
}


.left {
    float: left;
    width:17%;
    padding-top: 13%;
    padding-left: 10%;
    padding-bottom: 20px;
}

.right {
    float: right;
    width: 50%;
    text-align: center;
    padding-top: 13%;
    padding-right: 200px;
    padding-bottom: 20px;
}

#article1{
    float: left;
    width: 42%;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 17px;
}

#article2{
    float: left;
    width: 42%;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}

#article3{
    width: 70%;
    padding-top: 26%;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%; 
    font-size: 17px;
    margin-top: 50%;
}

h3{
    text-align: center;
}

.table1{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}

.table2 table{
   margin-left: 15%;
   margin-right: 15%;
    width: 60%;
}


footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 15px;
    width: 100%;
}

